# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
*.local
android/app/google-services.json
firebase.json
lib/firebase_options.dart
functions/src/config.ts
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/package_config.json
